<table class="table table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Data</th>
            <th>Nome</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="#f of feriados">
            <th scope="row">{{f.id}}</th>
            <td>{{f.date | date:"dd/MM/yyyy"}}</td>
            <td>{{f.name}}</td>
            <td><a class="btn btn-info btn-sm" [routerLink]="['FeriadoForm', {id: f.id}]"><i class="fa fa-edit"></i></a></td>
            <td><a class="btn btn-warning btn-sm" (click)="apagarFeriado(f.id)"><i class="fa fa-trash"></i></a></td>
        </tr>
    </tbody>
</table>
<a class="btn btn-success btn-sm" [routerLink]="['FeriadoForm', {id: null}]"><i class="fa fa-plus-circle"></i> Adicionar</a>
