a i.fa, button i.fa, input[type="button"] i.fa, input[type="submit"] i.fa {
    padding-right: 10px;
}

i.fa {
    min-width : 14px;
    min-height: 14px;
}

.btn-group button i.fa {
    padding-right: 0px; !important
}
